---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'

const PROGRAMMING_LANGUAGES = [
	{
		name: 'Matlab',
		description: 'Programming and numeric computing platform.',
		href: 'https://www.mathworks.com/products/matlab.html',
		iconPath: 'matlab',
		iconBgColour: '#000001'
	},
	{
		name: 'Python',
		description: 'General-purpose back-end programming language.',
		href: 'https://www.python.org/',
		iconPath: 'python',
		iconBgColour: '#000001'
	},
	{
		name: 'C#',
		description: 'General-purpose back-end programming language.',
		href: 'https://learn.microsoft.com/en-us/dotnet/csharp/',
		iconPath: 'csharp',
		iconBgColour: '#00599C'
	},
	{
		name:'.NET',
		description: 'General-purpose back-end programming language.',
		href: 'https://dotnet.microsoft.com/',
		iconPath: 'dotnet',
		iconBgColour: '#512BD4'
	},
	{
		name:'C++',
		description: 'General-purpose back-end programming language.',
		href: 'https://isocpp.org/',
		iconPath: 'cpp',
		iconBgColour: '#00599C'
	},
	{
		name: 'JavaScript',
		description: 'High-level programming language.',
		href: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript',
		iconPath: 'javascript',
		iconBgColour: '#F7DF1E'
	},
]

const PRODUCTIVITY = [
	{
		name: 'Arc',
		description: 'Browser',
		href: 'https://arc.net/',
		iconPath: 'arc',
		iconBgColour: '#414350'
	},
	{
		name: 'Notion',
		description: 'Note Taking',
		href: 'https://www.notion.so/product',
		iconPath: 'notion',
		iconBgColour: '#EFEFEE'
	},
	{
		name: 'Obsidian',
		description: 'Long-form Writing',
		href: 'https://obsidian.md/',
		iconPath: 'obsidian',
		iconBgColour: '#7A3EE8'
	}
]

const DEVELOPMENT = [
	{
		name: 'VS Code',
		description: 'IDE',
		href: 'https://code.visualstudio.com/',
		iconPath: 'vscode',
		iconBgColour: '#2C2C32'
	},
	{
		name:'Visual Studio',
		description: 'IDE',
		href: 'https://visualstudio.microsoft.com/',
		iconPath: 'vstudio',
		iconBgColour: '#5C2D91'
	},
	{
		name: 'GitHub',
		description: 'Version Control',
		href: 'https://github.com/',
		iconPath: 'github',
		iconBgColour: '#181717'
	},
	{
		name: 'ChatGPT',
		description: 'AI',
		href: 'https://chat.openai.com/',
		iconPath: 'chatgpt',
		iconBgColour: '#06A67F'
	}
]
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Tools</h1>
				<p>Tools and software I use daily</p>
			</div>

			<ToolSection title='Programming Languages' tools={PROGRAMMING_LANGUAGES} />
			<ToolSection title='Productivity' tools={PRODUCTIVITY} />
			<ToolSection title='Development' tools={DEVELOPMENT} />
		</div>
	</div>
</PageLayout>
